.portfolio {
    text-align: center;
    }
  .portfolio > h2 {
    font-size: 3em;
    margin-top: 80px;
  }
  .portfolio > h3 {
    font-size: 2em;
    font-weight: 400;
  }
  .projectStyle {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
    margin: 80px 0px;
    padding: 0px 10px;
  }
  .projectStyle h3 {
    text-align: center;
    margin: 20px auto 0px;
    font-weight: 500;
  }
  .projectStyle p {
    color: #ccc;
    margin-top: 4px;
  }
