.details h2 {
    font-size: 3.5em;
    margin-top: 80px;
    margin-left: 10px;
  }
  .details h3 {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 40px;  
    margin-left: 10px;
  }
  .html {
    margin-top: 40px;
    margin-left: 10px;
  }
  .featured {
    margin-bottom: 40px;
  }
